.services{
    background: transparent;
    height: 550px;
    margin-top: 150px;

}
.services{
    color: #0077ff;
}

.main_serv{
    display: flex;
    justify-content: space-around;
}
.serv{
    height: 250px;
width: 250px;
padding: 10px;
color: #fff;
background: #0077ff;
margin-left: 10px;
border-radius: 10px;
}
@media only screen and (max-width:1024px) {
    .services{
        height: fit-content;
    }
    .main_serv{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: 30px;
        
}
.serv{
    margin-bottom: 20px;
    }
}