.projects{
    background: #0c151f;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-bottom: 150px; */
}
.main {
    display: flex;

    justify-content: space-evenly;
}
.card{
    height: fit-content;
    width: 250px;
    padding: 10px;
    color: #fff;
    margin-left: 50px;
    margin-bottom: 20px;
    background: #0077ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #31c3fdda;
    transition: transform 0.3s ease-in-out;
    
}
.card:hover {
    transform: scale(1.05);
  }
 
  .card img{
    height: 200px;
    width: 200px;
  }



@media only screen and (max-width:1024px) {
    .projects{
        height: fit-content;
    }
    .main{
        flex-direction: column;
    }
}